<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find texas_robocamp)/worlds/racetrack.world" />
        <!-- more default parameters can be changed here -->
    </include>
    <!-- Spawn a robot into Gazebo -->

    <include file="$(find texas_robocamp)/launch/include/robot.launch.xml">
	<arg name="race" value="1" />
    </include>
</launch>
